.logo{
    display: flex;
    justify-content: center;
}
.mail{
    display: grid;
    justify-content: center;
}
.mailHead{
    justify-content: center;
    display: grid;
}
.reset{
    display: grid;
    width: 700px;
    justify-content: center;
    display: grid;
    justify-content: center;
}
.res{
    width: 100%;
}

.texBody{
    justify-content: center;
    display: grid;
}

.footer{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    font-size: 18px;
    padding: 0 3rem;
}

.footer a{
    text-decoration: none;
}

